In [7]:
import pandas
import os

if os.path.exists('temp.csv'):
    data = pandas.read_csv('temp.csv')
    print(data.mean())

st1    24.45
st2    34.55
dtype: float64
24.45

In [8]:
#to get mean of specific data 
print(data.mean()['st1'])

24.45

In [12]:
df1 = pandas.DataFrame([[22,43,44],[56,34,55]],columns=["Marks1","Mark2","Mark3"],index=["First","Second"])
print(df1)

        Marks1  Mark2  Mark3
First       22     43     44
Second      56     34     55

In [14]:
print(df1.mean())
print(df1.mean().mean())

Marks1    39.0
Mark2     38.5
Mark3     49.5
dtype: float64
42.333333333333336

In [16]:
#using dictionaries
df2 = pandas.DataFrame([{"Name":"Namjoonie","age":23},{"Name":"JK","age":22},{"Name":"RM"}])
print(df2)

        Name   age
0  Namjoonie  23.0
1         JK  22.0
2         RM   NaN

In [18]:
print(df1.mean())
print(type(df1.mean()))

Marks1    39.0
Mark2     38.5
Mark3     49.5
dtype: float64
<class 'pandas.core.series.Series'>

In [20]:
print(df1.Mark3) #will get series od mark3
print(df1.Mark2.mean())

First     44
Second    55
Name: Mark3, dtype: int64
38.5